.main{
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
}
.head{
    font-size: 200px;
    margin-top: 100px;
}
.button button{
    width: 200px;
    padding: 12px 5px;
    margin-top: 15px;
    background-color: rgb(20, 148, 223);
    border: none;
    border-radius: 5px;
    color: white;
}